<%= form_with model: [:public,@post] do |f| %>
    <div class="row">
    <%= f.label :'タイトル' %>
    <%= f.text_field :title, class: "form-control name" %>
    </div>
    <div class="row">
    <%= f.label :'内容' %>
    <%= f.text_area :body, class: "form-control introduction" %>
    </div>

    <div class="row">
    <%= f.label :'投稿画像' %>
    <%= f.file_field :images, multiple: true, class: 'form-control',accept: 'image/*' %>
    </div>
       

    <div class="row">
    <%= f.submit class: 'btn btn-secondary' %>
    </div>
 <% end %>