<%= form_with model: [:public,@post] do |f| %>
<%= render 'layouts/error_messages', model: f.object %>
    <div class="row">
    <%= f.label :'タイトル' %>
    <%= f.text_field :title, class: "form-control name" %>
    </div>
    <div class="row">
    <%= f.label :'内容' %>
    <%= f.text_area :body, class: "form-control introduction" %>
    </div>
    
    <div class="row">
    <%= f.label :'タグ' %>
    <%= f.text_area :tag, value: @post.tags.join(','), class: "form-control"  %>
    </div>


    <div class="row">
    <%= f.label :'投稿画像' %>
    <%= f.file_field :images, multiple: true, class: 'form-control',accept: 'image/*' %>
    </div>

    <div class="row">
        <%= f.label :'ステータス' %>
    <%= f.radio_button :is_deleted, true, class: "sales_status" %>非公開
    <%= f.radio_button :is_deleted, false, class: "sales_status" %>公開
    </div>
    <div class="row">
    <%= f.submit class: 'btn btn-secondary' %>
    </div>
 <% end %>