<div class="container">
  <div class="row">
    <div class="col-3">
      <%= render 'public/users/sideber' %>
    </div>
    <div class="col-9">
      <h3 class="">タイムライン</h3>
      <!--投稿一覧-->
      <% @post.each do |c| %>
      <div class="box5">
        <div>
          <%= link_to public_post_path(c) do %><%= c.title %><% end %>]
          <%= c.created_at.strftime('%Y/%m/%d') %>
        </div>
        <% if c.images.attached? %>
        <div>
          <% c.images.each do |image| %>
          <%= image_tag image.variant(resize: '100x100') %>
          <% end %>
        </div>
        <% end %>
        <div><%= c.body %></div>
        <!--いいねの表示状態-->
        <div><% if user_signed_in? %>
          <% if c.favorited_by?(current_user) %>
          <p><%= link_to public_post_favorites_path(c, {type: "index"}), method: :delete do %>♥ いいね<% end %></p>
          <% else %>
          <p><%= link_to public_post_favorites_path(c, {type: "index"}), method: :post do %>♡<%= c.favorites.count %> いいね<% end %></p>
          <% end %>
          <% else %>
          <p>♡<%= c.favorites.count %>いいね</p>
          <% end %>
        </div>
        <div><%= link_to public_user_path(c.user_id) do %>
          <%= c.user.name %><% end %>
        </div>
      </div>
      <% end %>
      <%= paginate @post %>
    </div>
  </div>
</div>
