<div class="container">
  <div class="row">
    <div class="col-3">
      <%= render 'public/users/sideber' %>
    </div>
    <div class="col-9">
      <h3 class="">漁船一覧</h3>
      <% @ships.each do |c| %>
      <div class="box5">
        <div class="row">
          <div class="col-5">
            <div class="">
              <% if c.image.attached? %>
              <%= image_tag c.image.variant(resize: '200x300') %>
              <% end %>
            </div>
          </div>
          <div class="col-7">
            <div class="row">
              <dt class="col-3">漁船名</dt>
              <dd class="col-9"><%= link_to public_ship_path(c) do %><%= c.name %><% end %></dd>
              <dt class="col-3">県名</dt>
              <dd class="col-9"><%= JpPrefecture::Prefecture.find(c.city.prefecture_code).name %><%= c.city.name%></dd>
              <dt class="col-3">評判</dt>
              <dd id="all_raty_average_<%= c.id%>" , data-score=<%= c.reviews.average(:all_rating).to_f.round(1)%>>
                <script>
                  var elem = document.getElementById('all_raty_average_<%= c.id%>');
                  elem.innerText = '(<%= c.reviews.count%>)'
                  var opt = {
                    readOnly: true,
                    starOn: "<%= asset_path('star-on.png') %>",
                    starOff: "<%= asset_path('star-off.png') %>",
                    starHalf: "<%= asset_path('star-half.png') %>",
                    score: function() {
                      return $(this).attr('data-score')
                    }
                    // scoreName: 'review[all_rating]',
                    // half: false
                  };
                  raty(elem, opt);
                </script>
              </dd>
            </div>
          </div>
        </div>
      </div>
      <% end %>
      <%= paginate @ship %>
    </div>
  </div>
</div>
