<div class='container'>
  <h2>漁船詳細</h2>
  <div class='row '>
    <div class='col-3 '>

    </div>
    <div class="col-9">
      <div class="row">
        <div class="col-4">
          <% if @ship.images.attached? %>
          <% @ship.images.each do |image| %>
          <%= image_tag image.variant(resize: '200x200') %>
          <% end %>
          <% end %>
        </div>
        <div class="col-8">
          <div class="row">
            <dt class="col-3">漁船名</dt>
            <dd class="col-9"><%= @ship.name%></dd>
            <dt class="col-3">漁船説明</dt>
            <dd class="col-9"><%= @ship.body%></dd>
            <dt class="col-3">ジャンル</dt>
            <dd class="col-9"><%= @ship.city.name%></dd>
            <dt class="col-3">電話番号</dt>
            <dd class="col-9"><%= @ship.phone_number%></dd>
            <dt class="col-3">評判</dt>
            <dd class="col-9"><%= @ships.average(:all_rating)%></dd>
        　</div>
        </div>
      </div>
      <div class="row">

      <div class="col-3">
        <div class="col-12 position-static">

<div id="all_raty"><p>総合評価:</p>

<script>
var elem = document.getElementById('all_raty');
var opt = {
    starOn: "<%= asset_path('star-on.png') %>",
    starOff: "<%= asset_path('star-off.png') %>",
    starHalf: "<%= asset_path('star-half.png') %>",
    scoreName: 'review[all_rating]',
    half: false

  };
  raty(elem,opt);
</script>
</div>
</div>
<div class="col-12 position-static">
<p>サービス,接客:</p>
<div id="raty1"></div>

<script>
var elem = document.getElementById('raty1');
var opt = {
    starOn: "<%= asset_path('star-on.png') %>",
    starOff: "<%= asset_path('star-off.png') %>",
    starHalf: "<%= asset_path('star-half.png') %>",
    scoreName: 'review[rating1]',
    half: true

  };
  raty(elem,opt);
</script>
</div>
<div class="col-12 position-static">
<p>設備:</p>
<div id="raty2"></div>

<script>
var elem = document.getElementById('raty2');
var opt = {
    starOn: "<%= asset_path('star-on.png') %>",
    starOff: "<%= asset_path('star-off.png') %>",
    starHalf: "<%= asset_path('star-half.png') %>",
    scoreName: 'review[rating2]',
    half: true

  };
  raty(elem,opt);
</script>
</div>
<div class="col-12 position-static">
<p>お値打ち度:</p>
<div id="raty3"></div>

<script>
var elem = document.getElementById('raty3');
var opt = {
    starOn: "<%= asset_path('star-on.png') %>",
    starOff: "<%= asset_path('star-off.png') %>",
    starHalf: "<%= asset_path('star-half.png') %>",
    scoreName: 'review[rating3]',
    half: true

  };
  raty(elem,opt);
</script>
</div>
<div class="col-12 position-static">
<p>おすすめ度:</p>
<div id="raty4"></div>

<script>
var elem = document.getElementById('raty4');
var opt = {
    starOn: "<%= asset_path('star-on.png') %>",
    starOff: "<%= asset_path('star-off.png') %>",
    starHalf: "<%= asset_path('star-half.png') %>",
    scoreName: 'review[rating4]',
    half: true

  };
  raty(elem,opt);
</script>
</div>


      </div>
      <%= form_with model: [:public,@ship, @review] do |f| %>  
      <div class="col-9">
        <div class="row">
        <%= f.label :'タイトル' %>
        <%= f.text_field :title, class: "form-control name" %>
      </div>
      <div class="row">
        <%= f.label :'内容' %>
        <%= f.text_area :body, class: "form-control introduction" %>
      </div>

      <div class="row">
        <%= f.label :'レビュー画像' %>
        <%= f.file_field :images, multiple: true, class: 'form-control',accept: 'image/*' %>
      </div>

    　<div class="row">
        <% if @review.images.attached? %>
      <p>選択済みの画像（削除する画像にチェックをつけてください）</p>
      <div style="display: flex; flex-wrap: wrap; width: 750px;">
        <% @review.images.each do |image| %>
      <div style="display: flex; margin:5px 5px 5px 0;">
        <%= f.check_box :image_ids, { multiple: true }, image.id, false %>
      <label for="ship_image_ids_<%= image.id %>" >
        <%= image_tag image, size: '150x150' %>
      </label>
      </div>
      　<% end %>
      </div>
      </div>
      <% end %>

      <div class="row">
      <%= f.submit class: 'btn btn-secondary' %>
      </div>
      <% end %>

      </div>
       </div>
      <% @ships.each do |c| %>
       <div class="row">
       <div class="all_rating" data-score=<%= c.all_rating %>></div>
       

             <script>
             var elme = document.getElementById('all_rating');
             var opt = {
                 readOnly: true,
                 starOn: "<%= asset_path('star-on.png') %>",
                 starOff: "<%= asset_path('star-off.png') %>",
                 starHalf: "<%= asset_path('star-half.png') %>",
                 score: function() {
                 return $(this).attr('data-score')
                  }
                };
              raty(elem,opt);  
  
             </script>
             <div class="col-12"><%= c.title %></div>
      </div>
      <% end %>
    </div>

     </div>

  </div>
