<div class='container'>
    <div class='row '>
        <!--サイドカラム-->
        <div class='col-3 '>
            <%= render 'public/users/sideber' %>
        </div>
        <!--メインカラム-->
        <div class="col-9">
            <h2>漁船詳細</h2>
            <div class="row">
                <div class="col-4">
                    <% if @ship.image.attached? %>
                    <%= image_tag @ship.image.variant(resize: '200x200') %>
                    <% end %>
                </div>
                <div class="col-8">
                    <div class="row">
                        <dt class="col-3">漁船名</dt>
                        <dd class="col-9"><%= @ship.name%></dd>
                        <dt class="col-3">漁船説明</dt>
                        <dd class="col-9"><%= @ship.body%></dd>
                        <dt class="col-3">県名</dt>
                        <dd class="col-9"><%= JpPrefecture::Prefecture.find(@ship.city.prefecture_code).name %><%= @ship.city.name%></dd>
                        <dt class="col-3">電話番号</dt>
                        <dd class="col-9"><%= @ship.phone_number%></dd>
                        <dt class="col-3">評判</dt>
                        <dd id="all_raty_average" , data-score=<%= @ship_reviews.average(:all_rating)%>>(<%= @ship.reviews.count%>)
                            <script>
                                var elem = document.getElementById('all_raty_average');
                                var opt = {
                                    readOnly: true,
                                    starOn: "<%= asset_path('star-on.png') %>",
                                    starOff: "<%= asset_path('star-off.png') %>",
                                    starHalf: "<%= asset_path('star-half.png') %>",
                                    score: function() {
                                        return $(this).attr('data-score')
                                    }
                                    // scoreName: 'review[all_rating]',
                                    // half: false

                                };
                                raty(elem, opt);
                            </script>
                        </dd>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <!-- レビュー投稿 -->
                <% if user_signed_in? %>
                <div>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                        レビューを投稿する
                    </button>
                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">レビュー投稿フォーム</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <%= form_with model: [:public,@ship, @review] do |f| %>
                                    <div class="center_form">
                                        <div class="">
                                            <div class="position-static">
                                                <div id="all_raty">
                                                    <p>総合評価:</p>
                                                    <script>
                                                        var elem = document.getElementById('all_raty');
                                                        var opt = {
                                                            starOn: "<%= asset_path('star-on.png') %>",
                                                            starOff: "<%= asset_path('star-off.png') %>",
                                                            starHalf: "<%= asset_path('star-half.png') %>",
                                                            scoreName: 'review[all_rating]',
                                                            half: false
                                                        };
                                                        raty(elem, opt);
                                                    </script>
                                                </div>
                                            </div>
                                            <div class="position-static">
                                                <p>サービス,接客:</p>
                                                <div id="raty1"></div>
                                                <script>
                                                    var elem = document.getElementById('raty1');
                                                    var opt = {
                                                        starOn: "<%= asset_path('star-on.png') %>",
                                                        starOff: "<%= asset_path('star-off.png') %>",
                                                        starHalf: "<%= asset_path('star-half.png') %>",
                                                        scoreName: 'review[rating1]',
                                                        half: true
                                                    };
                                                    raty(elem, opt);
                                                </script>
                                            </div>
                                            <div class="position-static">
                                                <p>設備:</p>
                                                <div id="raty2"></div>
                                                <script>
                                                    var elem = document.getElementById('raty2');
                                                    var opt = {
                                                        starOn: "<%= asset_path('star-on.png') %>",
                                                        starOff: "<%= asset_path('star-off.png') %>",
                                                        starHalf: "<%= asset_path('star-half.png') %>",
                                                        scoreName: 'review[rating2]',
                                                        half: true
                                                    };
                                                    raty(elem, opt);
                                                </script>
                                            </div>
                                            <div class="position-static">
                                                <p>お値打ち度:</p>
                                                <div id="raty3"></div>
                                                <script>
                                                    var elem = document.getElementById('raty3');
                                                    var opt = {
                                                        starOn: "<%= asset_path('star-on.png') %>",
                                                        starOff: "<%= asset_path('star-off.png') %>",
                                                        starHalf: "<%= asset_path('star-half.png') %>",
                                                        scoreName: 'review[rating3]',
                                                        half: true
                                                    };
                                                    raty(elem, opt);
                                                </script>
                                            </div>
                                            <div class="position-static">
                                                <p>おすすめ度:</p>
                                                <div id="raty4"></div>
                                                <script>
                                                    var elem = document.getElementById('raty4');
                                                    var opt = {
                                                        starOn: "<%= asset_path('star-on.png') %>",
                                                        starOff: "<%= asset_path('star-off.png') %>",
                                                        starHalf: "<%= asset_path('star-half.png') %>",
                                                        scoreName: 'review[rating4]',
                                                        half: true
                                                    };
                                                    raty(elem, opt);
                                                </script>
                                            </div>
                                        </div>
                                        <div class="left_form">
                                            <div class="row">
                                                <%= f.label :'タイトル' %>
                                                <%= f.text_field :title, class: "form-control name" %>
                                            </div>
                                            <div class="row">
                                                <%= f.label :'内容' %>
                                                <%= f.text_area :body, class: "form-control introduction" %>
                                            </div>
                                            <div class="row">
                                                <%= f.submit class: 'btn btn-secondary' %>
                                            </div>
                                            <% end %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <% else %>
                <%= link_to new_user_session_path do %>
                <div><button type="button" class="btn btn-primary">レビューを投稿する</button></div>
                <% end %>
                <% end %>
            </div>
                <% @ship_reviews.each do |review| %>
                <div class="row">
                    <div class="position-static col-3">
                        <div id="all_raty_<%= review.id %>" , data-score=<%= review.all_rating %>>総合評価:<br>
                            <script>
                                var elem = document.getElementById('all_raty_<%= review.id %>');
                                var opt = {
                                    readOnly: true,
                                    starOn: "<%= asset_path('star-on.png') %>",
                                    starOff: "<%= asset_path('star-off.png') %>",
                                    starHalf: "<%= asset_path('star-half.png') %>",
                                    score: function() {
                                        return $(this).attr('data-score')
                                    }
                                    // scoreName: 'review[all_rating]',
                                    // half: false
                                };
                                raty(elem, opt);
                            </script>
                        </div>
                    </div>
                    <div class="col-3">
                        <p><%= review.title %></p>
                    </div>
                    <div class="col-2">
                        <p>投稿ユーザー:<%= review.user.name %></p>
                    </div>
                    <div class="col-2">
                        <%= link_to "削除", public_ship_review_path(@ship.id,review.id), method: :delete, data: { confirm: '本当に消しますか？' }, class: 'btn btn-danger' %>
                    </div>
                </div>
                <div class="row">
                    <details>
                        <summary>続きを読む</summary>
                        <div class="col-3">
                            <div id="raty1_<%= review.id %>" , data-score=<%= review.rating1 %>>
                                サービス,接客:<br>
                                <script>
                                    var elem = document.getElementById('raty1_<%= review.id %>');
                                    var opt = {
                                        readOnly: true,
                                        starOn: "<%= asset_path('star-on.png') %>",
                                        starOff: "<%= asset_path('star-off.png') %>",
                                        starHalf: "<%= asset_path('star-half.png') %>",
                                        score: function() {
                                            return $(this).attr('data-score')
                                        }
                                        // scoreName: 'review[all_rating]',
                                        // half: false
                                    };
                                    raty(elem, opt);
                                </script>
                            </div>
                            <div id="raty2_<%= review.id %>" , data-score=<%= review.rating2 %>>
                                設備:<br>
                                <script>
                                    var elem = document.getElementById('raty2_<%= review.id %>');
                                    var opt = {
                                        readOnly: true,
                                        starOn: "<%= asset_path('star-on.png') %>",
                                        starOff: "<%= asset_path('star-off.png') %>",
                                        starHalf: "<%= asset_path('star-half.png') %>",
                                        score: function() {
                                            return $(this).attr('data-score')
                                        }
                                        // scoreName: 'review[all_rating]',
                                        // half: false
                                    };
                                    raty(elem, opt);
                                </script>
                            </div>
                            <div id="raty3_<%= review.id %>" , data-score=<%= review.rating3 %>>
                                お値打ち度:<br>
                                <script>
                                    var elem = document.getElementById('raty3_<%= review.id %>');
                                    var opt = {
                                        readOnly: true,
                                        starOn: "<%= asset_path('star-on.png') %>",
                                        starOff: "<%= asset_path('star-off.png') %>",
                                        starHalf: "<%= asset_path('star-half.png') %>",
                                        score: function() {
                                            return $(this).attr('data-score')
                                        }
                                        // scoreName: 'review[all_rating]',
                                        // half: false
                                    };
                                    raty(elem, opt);
                                </script>
                            </div>
                            <div id="raty4_<%= review.id %>" , data-score=<%= review.rating4 %>>
                                おすすめ度:<br>
                                <script>
                                    var elem = document.getElementById('raty4_<%= review.id %>');
                                    var opt = {
                                        readOnly: true,
                                        starOn: "<%= asset_path('star-on.png') %>",
                                        starOff: "<%= asset_path('star-off.png') %>",
                                        starHalf: "<%= asset_path('star-half.png') %>",
                                        score: function() {
                                            return $(this).attr('data-score')
                                        }
                                        // scoreName: 'review[all_rating]',
                                        // half: false
                                    };
                                    raty(elem, opt);
                                </script>
                            </div>
                        </div>
                        <div class="col-8">
                            <div class="row">
                                <%= review.body %>
                            </div>
                        </div>
                    </details>
                </div>
                <% end %>
            
        </div>
    </div>
</div>
