<div class='container'>
  <div class='row'>
    <!--サイドバー-->
    <div class='col-3 '>
      <h3>マイプロフィール</h1>
         <div>
            <% if current_user.image.attached? %>
            <%= image_tag current_user.image.variant(resize: '200x200') %>
            <% end %>

        </div>
            <table class="table">
               <tr>
                  <th>ユーザー名</th>
                  <td><%= current_user.name %></td>

    　          </tr>
               <tr>
                  <th>自己紹介</th>
                  <td><%= current_user.Introduction %></td>
               </tr>
               <tr>

                  <th><%= link_to "フォロー数",public_user_followings_path(current_user)%></th>
                  <td><%= current_user.followings.count %></td>

    　          </tr>
               <tr>
                  <th><%= link_to "フォロワー数",public_user_followers_path(current_user)%></th>
                  <td><%= current_user.followers.count %></td>
               </tr>
               <tr>
                  <th>マイページ編集</th>
                  <td><%= link_to edit_public_user_path(current_user.id), class: "btn btn-outline-secondary btn-block" do %>
                      <i class="fas fa-user-cog"></i>
                      <% end %></td>
               </tr>

            </table>
    </div>
    <div class="col-9">
      <% if @users.exists? %>
<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col" style="width: 10%">プロフィール画像</th>
      <th scope="col" style="width: 20%">ユーザー名</th>
      <th scope="col" style="width: 30%">自己紹介</th>
      <th scope="col" style="width: 10%"></th></th>
      <th scope="col" style="width: 10%">フォロー数</th>
      <th scope="col" style="width: 10%">フォロワー数</th>
    </tr>
  </thead>
                <% @users.each do |c| %>
  <tbody>
    <tr>
      <td><%= c.name %></td>
      <td><%= link_to public_user_path(c.id) do %>
        <%= c.name %><% end %></td>
      <td>自己紹介挿入予定</td>
      <td><% if current_user.following?(c) %>
          <%= link_to "フォロー外す", public_user_relationships_path(c.id), method: :delete %>
          <% else %>
          <%= link_to "フォローする", public_user_relationships_path(c.id), method: :post %>
          <% end %></td>
       <td>フォロー数: <%= c.followings.count %></td>
       <td>フォロワー数: <%= c.followers.count %></td>


    </tr>
  </tbody>
</table>
<% end %>
<% else %>
  <p>ユーザーはいません</p>
<% end %>
    </div>


     <div class="col-1"></div>
     <div class="col-8 d-flex justify-content-center">

    </div>
  </div>


 
</div>

