<div class="container">
  <div class="row">
    <h3>レビュー一覧</h3>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col" style="width: 20%">ユーザーネーム</th>
          <th scope="col" style="width: 20%">投稿タイトル</th>
          <th scope="col" style="width: 40%">内容</th>
          <th scope="col" style="width: 10%">総合評価</th>
        </tr>
      </thead>
      <% @review.reverse_each do |c| %>
      <tbody>
        <tr>
          <td><%= c.user.name %></td>
          <td><%= link_to public_ship_path(c.ship_id) do %>
            <%= c.title %><% end %></td>
          <td><%= c.body %></td>
          <td><%= c.all_rating %></td>
        </tr>
      </tbody>
      <% end %>
    </table>
    <%= paginate @review %>
  </div>
</div>
