<div class="container">
  <h1 class="my-3 ml-3">投稿一覧</h1>
  <div class="row">
    <div class="col-12">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col" style="width: 10%">投稿ID</th>
            <th scope="col" style="width: 30%">ユーザー名</th>
            <th scope="col" style="width: 40%">タイトル</th>
            <th scope="col" style="width: 20%">内容</th>
          </tr>
        </thead>
        <% @post.each do |c| %>
        <tbody>
          <tr>
            <td><%= c.id %></td>
            <td><%= link_to admin_post_path(c.id) do %>
              <%= c.user.name %><% end %></td>
            <td><%= c.title %></td>
            <td><%= c.body %></td>
          </tr>
        </tbody>
        <% end %>
      </table>
      <%= paginate @post %>
    </div>
  </div>
</div>
