
         <% if user_signed_in? %>
         <h3>マイプロフィール</h1>
            <div class="d-flex justify-content">
               <div>
            <% if current_user.image.attached? %>
            <%= image_tag current_user.image.variant(resize: '100x100') %>
            <% else %>
            <%= image_tag 'no_image.jpg', size: "100x100" %>
            <% end %>
            </div>
            <div>
               自己紹介:<br><%= current_user.Introduction %>
            </div>
            </div>

            <table class="side_table">
               <tr>
                  <th>ユーザー名</th>
                  <td><%= current_user.name %></td>

    　          </tr>
               <tr>

                  <th><%= link_to "フォロー",public_user_followings_path(current_user)%></th>
                  <td><%= current_user.followings.count %></td>

    　          </tr>
               <tr>
                  <th><%= link_to "フォロワー",public_user_followers_path(current_user)%></th>
                  <td><%= current_user.followers.count %></td>
               </tr>
               <tr>
                  <th>マイページ</th>
                  <td><%= link_to  edit_public_user_path(current_user.id), class: "btn btn-outline-secondary btn-block" do %>
                      <i class="fas fa-user-cog"></i>
                      <% end %></td>
               </tr>
               <tr>
                  <th>いいねした</th>
                  <td><%= link_to "投稿一覧", likes_public_user_path(current_user) %></td>
               </tr>
                 <tr>
                  <th>釣果</th>
                  <td><%= link_to "新規投稿", new_public_post_path %></td>
               </tr>

            </table>

         <% else %>
         <div class="row">
            <h3>ログインすると</h3>
            <h3>以下の機能が使えます</h3>
            <ol>
                <li>マイページ機能</li>
                <li>釣果投稿</li>
                <li>ユーザーのフォロー</li>
                <li>レビュー投稿</li>
            </ol>
         </div>
         <div class="">
                     <%= link_to  "新規登録", new_user_registration_path, class: 'btn btn-success' %>
         </div>
         <div class="">
                     <%= link_to "ログイン", new_user_session_path , class: 'btn btn-success' %>
         </div>


         <% end %>