
<div class="container">

<div class="row">
<div class="col-3">
  <%= render 'public/users/sideber' %>
</div>
<div class="col-9">
<h3 class="">いいねした投稿一覧</h3>


  <% @like_posts.each do |c| %>

      <div class="box5">
        <div>
        <%= link_to public_post_path(c) do %><%= c.title %><% end %>
        </div>
        <% if c.images.attached? %>
        <div>
              <% c.images.each do |image| %>
              <%= image_tag image.variant(resize: '100x100') %>
              <% end %>
        </div>
        <% end %>
        <div><%= c.body %></div>
        <div><% if user_signed_in? %>
               <% if c.favorited_by?(current_user) %>
                  <p><%= link_to public_post_favorites_path(c, {type: "like"}), method: :delete do %>♥ いいね<% end %></p>
               <% else %>
                  <p><%= link_to public_post_favorites_path(c, {type: "like"}), method: :post do %>♡<%= c.favorites.count %> いいね<% end %></p>
               <% end %>
              <% else %>
                        <p>♡<%= c.favorites.count %>いいね</p>
              <% end %>
        </div>
      </div>
     <% end %>

</div>
</div>
</div>

