<div class='container'>
  <div class='row '>
    <!--マイプロフィール-->
    <div class='col-3'>
      <h3>マイプロフィール</h1>
         <div>
            <% if current_user.image.attached? %>
            <%= image_tag current_user.image.variant(resize: '200x200') %>
            <% end %>

        </div>
            <table class="table">
               <tr>
                  <th>ユーザー名</th>
                  <td><%= current_user.name %></td>

    　          </tr>
               <tr>
                  <th>自己紹介</th>
                  <td><%= current_user.Introduction %></td>
               </tr>
               <tr>

                  <th><%= link_to "フォロー数",public_user_followings_path(current_user)%></th>
                  <td><%= current_user.followings.count %></td>

    　          </tr>
               <tr>
                  <th><%= link_to "フォロワー数",public_user_followers_path(current_user)%></th>
                  <td><%= current_user.followers.count %></td>
               </tr>
               <tr>
                  <th>マイページ編集</th>
                  <td><%= link_to edit_public_user_path(current_user.id), class: "btn btn-outline-secondary btn-block" do %>
                      <i class="fas fa-user-cog"></i>
                      <% end %></td>
               </tr>

            </table>
    </div>
    <div class="col-9">
      <div class="row">
        <!--最新の投稿五件-->
        <div class="col-6">
          <table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col" style="width: 20%">タイトル</th>
      <th scope="col" style="width: 10%">コメント数</th>
      <th scope="col" style="width: 10%">いいね数</th>
      <th scope="col" style="width: 10%">表示ステータス</th>
    </tr>
  </thead>
  <% @post.each do |c| %>
  <tbody>
    <tr>

      <td><%= link_to public_post_path(c.id) do %>
        <%= c.title %><% end %></td>
      <td><%= c.favorites.count %></td>
      <td><%= c.favorites.count %></td>


    </tr>
  </tbody>
  <% end %>
</table>
        </div>
        <!--最新のコメント-->
        <div class="col-6">
           <table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col" style="width: 20%">コメント内容</th>
      <th scope="col" style="width: 10%">記事タイトル</th>
      <th scope="col" style="width: 10%">コメントしたユーザー</th>
      <th scope="col" style="width: 10%">コメント投稿日</th>
    </tr>
  </thead>
  <% @comment.each do |c| %>
  <tbody>
    <tr>

      <td><%= link_to public_post_path(c.id) do %>
        <%= c.title %><% end %></td>
      <td><%= c.favorites.count %></td>
      <td><%= c.favorites.count %></td>


    </tr>
  </tbody>
  <% end %>
</table></div>
      </div>
      <div class="row">
       
      </div>
    </div>
  </div>
</div>
     
    </div>
  </div>
  <div class="d-flex justify-content-center">
            <%= link_to '編集する', edit_public_user_path(@user), class: "btn btn-sm btn-success edit_book_#{@user.id}" %>
            <%= link_to "削除する", public_user_path(@user), method: :delete, data: { confirm: '本当に消しますか？' }, class: 'btn btn-danger' %>
          </div>
</div>
