<% if @user == current_user %>
<div class='container'>
  <div class='row'>
    <!--サイドバー-->
    <div class='col-3'>
      <%= render 'sideber' %>
    </div>
    <!--メインカラム-->
    <div class="col-9">
    <% @posts.reverse.each do |c| %>
      <% if c == nil %>
        <div class="box5">まだ投稿はありません</div>
      <% else %>
    <div class="box5">
      <div><%= link_to public_post_path(c) do %><%= c.title %><% end %></div>
      <% if c.images.attached? %>
      <div>
        <% c.images.each do |image| %>
          <%= image_tag image.variant(resize: '100x100') %>
        <% end %>
      </div>
    <% end %>
    <div><%= c.body %></div>
    <div>
      <% if user_signed_in? %>
        <% if c.favorited_by?(current_user) %>
          <p><%= link_to public_post_favorites_path(c, {type: "index"}), method: :delete do %>♥ いいね<% end %></p>
        <% else %>
          <p><%= link_to public_post_favorites_path(c, {type: "index"}), method: :post do %>♡<%= c.favorites.count %> いいね<% end %></p>
        <% end %>
        <% else %>
          <p>♡<%= c.favorites.count %>いいね</p>
        <% end %>
    </div>
    </div>
    <% end %>
    <% end %>
    </div>

  </div>
</div>
<% else %>
<div class='container'>
  <div class='row '>
    <div class='col-3'>
      <h3>プロフィール</h1>
        <div class="d-flex justify-content">
          <div>
            <% if @user.image.attached? %>
            <%= image_tag @user.image.variant(resize: '100x100') %>
            <% else %>
            <%= image_tag 'no_image.jpg', size: "100x100" %>
            <% end %>
          </div>
          <div>
            紹介:<br><%= @user.Introduction %>
          </div>
        </div>
        <table class="side_table">
          <tr>
            <th>ユーザー名</th>
            <td><%= @user.name %></td>
          </tr>
          <tr>
            <th><%= link_to "フォロー",public_user_followings_path(@user)%></th>
            <td><%= @user.followings.count %></td>
          </tr>
          <tr>
            <th><%= link_to "フォロワー",public_user_followers_path(@user)%></th>
            <td><%= @user.followers.count %></td>
          </tr>
        </table>
    </div>
    <div class="col-9">
      <% if @user.posts == nil %>
      <div class="row">まだ投稿はありません</div>
      <% else %>
      　<% @user.posts.each do |c| %>
            <div class="box5">
          <div>
            <%= link_to public_post_path(c) do %><%= c.title %><% end %>
          </div>
          <% if c.images.attached? %>
          <div>
            <% c.images.each do |image| %>
            <%= image_tag image.variant(resize: '100x100') %>
            <% end %>
          </div>
          <% end %>
          <div><%= c.body %></div>
          <div><% if user_signed_in? %>
            <% if c.favorited_by?(current_user) %>
            <p><%= link_to public_post_favorites_path(c), method: :delete do %>♥<%= c.favorites.count %>いいね<% end %></p>
            <% else %>
            <p><%= link_to public_post_favorites_path(c), method: :post do %>♡<%= c.favorites.count %> いいね<% end %></p>
            <% end %>
            <% else %>
            <p>♡<%= c.favorites.count %>いいね</p>
            <% end %>
          </div>
        </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<% end %>
